@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 20, 20, 20;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: "Raleway", sans-serif;
}

.font-dot {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.font-jp {
    font-family: "Noto Serif JP", serif;
}